.gradientText {
  background: linear-gradient(90deg, #29295b 0.03%, #029d96 99.98%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
