.video-background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1;
  background: linear-gradient(225deg, #023a95 0%, #123c81 100%);
}

.video-background__video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  mix-blend-mode: overlay;
  object-fit: cover;
}
